{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row center-align">
    
    <form class="col s12" role="form" method="post" action="">
        {% csrf_token %}
        <h1>Login</h1>

        <div class="row">
            <div class="input-field col s12">
                {{ form.username }}
                <label for="email">Username</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{ form.password }}
                <label for="password">Password</label>
            </div>
        </div>

        
        {% if form.errors %}
        <div class="row">
            <div class="input-field col s12">
                
                <script>alert("{{ form.errors }}")</script>
                <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
            </div>
        </div>
        {% endif %}

        <button class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="material-icons right">send</i>
        </button>
        <input type="hidden" name="next" value="{{next}}">

        <a class="btn waves-effect waves-light" href="{% url 'signup' %}" name="action">Create an Account
            <i class="material-icons right">account_circle</i>
        </a> 

    </form>
</div>

{% endblock content %}