{% extends 'base.html' %}


{% block content %}

<div class="row">
    <br>
    <br>
    <br>
    <br>
    <div class="col s12 center-align">
        <i class="large material-icons green-text">check_circle</i>
    </div>

    <div class="col s12 center-align">
        <h4>Your password has been successfully changed</h4>
        <!-- <p>We will review your message shortly and get back to you</p> -->
        <!-- <span>We will review your message shortly and get back to you</span> -->
        <!-- <code>this is cool</code> -->
    </div>


</div>
<br>
<br>

{% endblock content %}