{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row center-align">

    <form class="col s12" role="form" method="post" action="">
        {% csrf_token %}
        {{ form.id }}

        <h1>Set a new Password</h1>

        
        {% if validlink %}
            
       
        <div class="row">o
            <div class="input-field col s12">
                {{ form.new_password1 }}
                <label for="new_password1">New Password</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                {{ form.new_password2 }}
                <label for="new_password2">Re-type Password</label>
            </div>
        </div>

        {% else %}

        <div class="row">
            <div class="input-field col s12">

                <!-- <script>alert("{{ form.errors }}")</script> -->
                <span style="color: red; font-weight: bold;">The link has expired used. Please request a new one</span>
            </div>
        </div>
        {% endif %}

        <button class="btn waves-effect waves-light" type="submit" name="action">Change Password
            <i class="material-icons right">send</i>
        </button>
      

    </form>
</div>

{% endblock content %}