{% extends 'base.html' %}


{% block content %}

<div class="row">
    <br>
    <br>
    <br>
    <br>
    <div class="col s12 center-align">
        <i class="large material-icons green-text">check_circle</i>
    </div>

    <div class="col s12 center-align">
        <h4>Check your E-mail for instruction to resetting your password</h4>
        <span>You must enter your registered email address to receive token.</span>
        <P>If you don't receive an email, check your spam folder or make sure you ensure you've entered a correct email.</P>

    </div>


</div>
<br>
<br>

{% endblock content %}