{% extends 'base.html' %}


{% block content %}

<div class="row">
    <br>
    <br>
    <br>
    <br>
    <div class="col s12 center-align">
        <i class="large material-icons green-text">check_circle</i>
    </div>

    <div class="col s12 center-align">
        <h4>Your password has been set <a class="btn waves-effect waves-light" href="{% url 'contact' %}" name="login">Login
            <i class="material-icons right">account_circle</i>
        </a>. Thank you </h4>
       

    </div>


</div>
<br>
<br>

{% endblock content %}